.Footer {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
    background-color: #d2c7c7;
}

.Footer div {
    display: flex;
    flex-direction: column;
}

.Footer h1 {
    color: white;
    font-weight: 600;
    font-size: 14px !important;
}

.Footer span {
    margin-top: 1rem;
    font-size: 13px;
    color: white;
}

.Footer ul {
    padding: 0;
    display: flex;
}

.Footer li {
    list-style-type: none;
    margin: 0 .5rem;
    color: white;
}